<p>Start editing to see some magic happen :)</p>

<svg width="1440" height="2037" viewBox="0 0 1440 2037">
  <style>
    .bold {
      font-weight: 700;
    }

    .fs-14 {
      font-size: 14px;
    }

    .fs-16 {
      font-size: 16px;
    }

    .fs-18 {
      font-size: 18px;
    }

    .fs-24 {
      font-size: 24px;
    }

    .cl-gray {
      color: #7A7A7B;
    }
  </style>

  <g class="header">
    <text x="675" y="100" class="fs-24 bold">納品書</text>

    <rect x="700" y="142" width="40" height="4" fill="#000" />
  </g>

  <g class="customer-information">
    <rect x="135" y="100" width="400" height="260" fill="none" stroke="#000"/>

    <text x="160" y="120" class="fs-18 bold">{{ customer.name }}</text>
    <text x="160" Y="158" class="fs-16">{{ customer.zipcode }}</text>
    <text x="160" y="182" class="fs-16">{{ customer.addressLine1 }}</text>
    <text x="160" y="206" class="fs-16">{{ customer.addressLine2 }}</text>
    <text x="160" y="250" class="fs-16">{{ customer.country }}</text>
    <text x="160" y="286" class="fs-16 cl-gray">{{ customer.phone }}</text>
    <text x="160" y="320" class="fs-16 cl-gray">{{ customer.email }}</text>
  </g>

  <text x="135" y="400" class="fs-16">下記の通り納品いたします。</text>

  <g class="meta">
    <path d="M908,100 h396 v32 h-396 v-32 m100,0 v32, M908,136 h396 v32 h-396 v-32 m100,0 v32, M908,172 h396 v32 h-396 v-32 m100,0 v32" stroke="#000" fill="none"></path>

    <text x="926" y="106" class="fs-14 bold">納品書番号</text>
    <text x="1024" y="106" class="fs-14"></text>

    <text x="926" y="142" class="fs-14 bold">発行日</text>
    <text x="1024" y="142"i class="fs-14"></text>

    <text x="926" y="178" class="fs-14 bold">注文日</text>
    <text x="1024" y="178" class="fs-14">{{ orderDate }}</text>
  </g>

  <g class="shop-information">
    <rect x="908" y="216" width="396" height="290" fill="#ffea4b" stroke="none" />

    <text x="926" y="232" class="fs-18 bold">{{ customer.name }}</text>
    <text x="926" Y="270" class="fs-16">{{ customer.zipcode }}</text>
    <text x="926" y="294" class="fs-16">{{ customer.addressLine1 }}</text>
    <text x="926" y="318" class="fs-16">{{ customer.addressLine2 }}</text>
    <text x="926" y="364" class="fs-16">{{ customer.country }}</text>
    <text x="926" y="400" class="fs-16 cl-gray">{{ customer.phone }}</text>
    <text x="926" y="436" class="fs-16 cl-gray">{{ customer.email }}</text>
  </g>

  <g class="total">
    <text x="135" y="468" class="fs-18 bold">金額合計</text>

    <rect x="234" y="448" width="640" height="60" rx="20" fill="#F4F4F7" stroke="none" />

    <text x="810" y="468" class="fs-16">(税込み)</text>
    <text dx="-12" y="460" class="fs-24 bold">{{ 1923012 | number }}</text>
  </g>
</svg>
